<h1>prime ng</h1>
<p-button label="Submit" (click)="toggleTheme()"></p-button>
<h2>Theme: {{ isDarkMode ? 'Dark' : 'Light' }}</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique incidunt iusto consectetur aspernatur dolore saepe? Nemo deserunt modi commodi labore mollitia, ullam, tempora natus nihil dolorum consequatur assumenda quis eveniet?
</p>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quos cumque in, dicta nesciunt reiciendis voluptas beatae eum aperiam. Quisquam voluptatum soluta unde mollitia dolore quasi sit nobis quas atque!
</p>